<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Add the link to the CSS stylesheet here -->
        <!-- Hint: the link is relative to the public folder -->
        <link rel="stylesheet" href="/styles/main.css" />
        <title>Band Generator</title>
    </head>

    <body>
        <main>
            <!-- This file also had the parts after this main opening tag, so the styling wasn't being applied to the main content well
 After I removed this part, now the part inside index.ejs is sandwiched between two main tags and is properly style
 It appears to be because of either prettier or ESLint I have installed. I need to edit this file using another text editor
 By doing that I can avoid format on save -->
